<%- include('./header')-%>
    <body onload="load()" style="background: rgb(152, 152, 253);">
       
        <%- include('./navbar')-%>
        <div >
            <h1>Bienvenido a Ecommerce</h1>
            <h2>Registrate para acceder a nuestros servicios</h2>
        </div>

       <script src="./javascript/set-navBar-token.js"></script>
       <script src="./javascript/home.js"></script>
    </body>

<%- include('./pie')-%>