
<nav  class="sticky-top navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-body-tertiary rounded">
    <div class="container-fluid">
      <a class="navbar-brand">Ecommerce</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/login">Iniciar sesión</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/user">Registrar usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link auth-nav-link" aria-current="page" href="/product">Productos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link auth-nav-link" aria-current="page" href="/store">Tienda</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link auth-nav-link" aria-current="page" href="/cartshopping">Carrito</a>
          </li> -->
          
          <button class="btn btn-success" id="logout">Logout</button>
          
      </div>
    </div>
    
  </nav>




